.workflow-div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 98vh;
}
.worklflow {
	width: 90%;
	height: 100%;
	background: #e7e5e5;
	padding: 8px;
}
.main-heading {
	border: 1px solid rgb(180, 180, 242);
	padding: 1rem;
	background-color: #ffffff;
}
.flow-content {
	display: flex;
	height: 91%;
}
